<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457548585884-bavt7tot8lo4bo4vr8s1ivnl65rtvp52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457548585884-bavt7tot8lo4bo4vr8s1ivnl65rtvp52</string>
	<key>API_KEY</key>
	<string>AIzaSyA9v9Q078GjNtkmn5GJ4EXVzqyqJ3EriaI</string>
	<key>GCM_SENDER_ID</key>
	<string>457548585884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizCityRmas</string>
	<key>PROJECT_ID</key>
	<string>quizcity-rmas</string>
	<key>STORAGE_BUCKET</key>
	<string>quizcity-rmas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457548585884:ios:a664301e6f3a006406c659</string>
</dict>
</plist>